<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đóng tiền</title>
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/css/bootstrap-datepicker.css" rel="stylesheet" th:href="@{/css/bootstrap-datepicker.min.css}"/>
</head>
<body>
<div class="main">
    <div class="container">
        <form autocomplete="off" action="#" th:action="@{/add}" th:object="${phieuthuModel}" method="post" id="invoiceForm">
            <div class="row">
                <div class="col-md-8 order-md-1">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Học viên</h4>
                        </div>
                        <div class="col-md-6 text-right">
                            <small class="ml-0"><a href="/">Trở về Bảng theo dõi</a></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label>KHÓA<span style="color: red;">*</span><small>Vd: B19-19, B1TD19-19</small></label>
                            <input class="form-control" type="text" th:field="*{lop}" name="lop"/>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Họ tên<span style="color: red;">*</span></label>
                            <input class="form-control" type="text" th:field="*{hoTen}" name="hoTen"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label>Ngày sinh:</label>
                            <input type="text" class="form-control date datepicker mydatepicker" data-provide="datepicker" th:value="*{ngaySinh}" name="ngaySinh"/>
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="submit" name="action" value="search" class="btn btn-primary">Tìm kiếm</button>
                        <button type="reset" value="Reset" class="btn btn-secondary">Reset</button>
                    </div>
                </div>
                <div class="col-md-4 order-md-2 mb-4">
                    <h4>Đóng tiền lần đầu</h4>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Tiền phải nộp</h6>
                                <!--<small class="text-muted">Brief description</small>-->
                            </div>
                            <input type="text" class="text-muted text-right money" name="tienPhaiNop" id="tienphainop"></input>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Tiền nộp</h6>
                                <!--<small class="text-muted">Brief description</small>-->
                            </div>
                            <input type="text" class="text-muted text-right money  " name="thu" id="thu"></input>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0" id="tienconl">Tiền còn lại: <label id="tienconlaiTxt"></label></h6>
                                <small class="text-muted">Tiền còn lại</small>
                                <input type="hidden" name="tienConLai" id="tienconlai"/>
                            </div>
                            <button class="btn btn-primary" type="button" id="btnAdd">Đóng tiền</button>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
        <h5>Danh sách nộp lần 1</h5>
        <div class="row">
            <div class="col-md-8 order-md-1">
                <table class="table table-bordered table-striped table-hover no-footer dataTable" id="notCompleteTable">
                    <thead>
                    <tr>
                        <th class="text-center">Stt</th>
                        <th class="text-center">Ngày<br>nộp</th>
                        <th class="text-center">Họ tên</th>
                        <th class="text-center">KHÓA HỌC</th>
                        <th class="text-center">Học phí<br>phải nộp</th>
                        <th class="text-center">Học phí <br>đã nộp</th>
                        <th class="text-center">Học phí<br>còn phải nộp</th>
                        <th class="text-center">Nộp lần 2</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${searchlist}">
                        <td class="text-right" th:text="${item.id}">Id</td>
                        <td class="text-right" th:text="${#dates.format(item.ngayGioThu,'dd.MM.yyyy')}"></td>
                        <td th:text="${item.hoTen}">Họ tên</td>
                        <td class="text-center" th:text="${item.lop}">KHÓA HỌC</td>
                        <td class="text-right" th:text="${#numbers.formatDecimal(item.tienPhaiNop,3, 'POINT',0, 'COMMA')}"></td>
                        <td class="text-right" th:text="${#numbers.formatDecimal(item.thu,3, 'POINT',0, 'COMMA')}"></td>
                        <td class="text-right" th:text="${#numbers.formatDecimal(item.tienConLai,3, 'POINT',0, 'COMMA')}"></td>
                        <td class="text-center">
                            <a class="complete">click</span></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4 order-md-1">
                <table class="table table-bordered table-striped table-sm no-footer">
                    <thead>
                    <tr>
                        <th>Danh sách gần nhất<br>
                            <small>Stt|Ngày|Họ tên|KHÓA HỌC|Đã nộp</small></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${latest}">
                        <td class="small"
                            th:text="${#numbers.formatInteger(item.id,4)} + '|' +
                    ${#dates.format(item.ngayGioThu,'dd.MM.yyyy')} + '|' +
                    ${item.hoTen} + '|' +
                    ${item.lop} + '|' +
                    ${#numbers.formatDecimal(item.thu,3, 'POINT',0, 'COMMA')}">Id</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalRegistInvoice" role="dialog" style="display: none;">
        <div class="modal-dialog" style="width:1000px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Xác nhận thu tiền</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" value="">×</button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="formModal">
                        <div id="reportRegistMessage" class="alert" style="display:none;"></div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>KHÓA HỌC    :</label>
                            </div>
                            <div class="col-md-8">
                                <label name="lopTxt"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Họ và tên :</label>
                            </div>
                            <div class="col-md-8">
                                <label class="font-weight-bold" name="hotenTxt"> </label>
                            </div>
                        </div>
                        <!--<div class="row">
                            <div class="col-md-2">
                                <label>Địa chỉ   :</label>
                            </div>
                            <div class="col-md-10">
                                <label>Đà Nẵng</label>
                            </div>
                        </div>-->
                        <div class="row">
                            <div class="col-md-4">
                                <label>Số tiền  :</label>
                            </div>
                            <div class="col-md-8">
                                <label name="thuTxt"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Số tiền(còn lại):</label>
                            </div>
                            <div class="col-md-8">
                                <label name="tienconlaiTxt"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Số tiền phải nộp:</label>
                            </div>
                            <div class="col-md-8">
                                <label name="tienphainopTxt"></label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btnSave" value="">Lưu</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancel" value="">Hủy</button>
                </div>
            </div>
        </div>
    </div>

    <div id="confirmModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="confirmTitle"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p id="confirmMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="yesConfirm">Có</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="noConfirm">Không</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.mask.min.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/js/common.js(t=${#dates.createNow().getTime()})}"></script>
<script type="application/javascript">
    var idNopTienLan2;

    $('input.money').mask('000.000.000.000', {reverse: true});

    $('#btnAdd').on('click', function() {
        $('#reportRegistMessage').hide();
        $('#modalRegistInvoice label[name*=lopTxt]').text($("#invoiceForm input[name*=lop]").val());
        $('#modalRegistInvoice label[name*=hotenTxt]').text($("#invoiceForm input[name*=hoTen]").val());
        $('#modalRegistInvoice label[name*=thuTxt]').text($("#invoiceForm input[name*=thu]").val());
        $('#modalRegistInvoice label[name*=tienphainopTxt]').text($("#invoiceForm input[name*=tienPhaiNop]").val());
        $('#modalRegistInvoice label[name*=tienconlaiTxt]').text($("#invoiceForm #tienconlaiTxt").text());
        $("#invoiceForm").serialize();

        $('#modalRegistInvoice').modal('show');
    });

    $('#btnSave').on('click', function() {
        var dataReq = $("#invoiceForm").serialize();
        //replace thoundsand separator
        dataReq = dataReq.replace(/(\d+)\.(?=\d{3}(\D|$))/g, "$1");
        //TODO validation

        // save invoice
        $.post('/thulan1',
            dataReq,
            function(returnData, status) {
                openInvoice(returnData);
                location.reload();
            }
        );
    });

    function openInvoice(id) {
        window.open('phieuthu?id='+id, '_blank');
    }

    $("#notCompleteTable").on("click", "a.complete", function(event) {
        var rowData = $(this).closest('td').siblings();
        idNopTienLan2 = rowData[0].innerHTML;

        console.log(rowData);
        console.log(idNopTienLan2);

        var confirmStr = "Tạo hóa đơn lần 2 của Học viên: " + rowData[2].innerHTML + ",Lớp: " + rowData[3].innerHTML + "?";

        $("#confirmTitle").html("Xác nhận đóng tiền lần 2");
        $("#confirmMessage").html(confirmStr);
        $("#confirmModal").modal('show');
    });

    $("#yesConfirm").on("click", function(e) {
        completeSecondPayment(idNopTienLan2);

        location.reload();
    });

    function completeSecondPayment(id){
        window.open('hoadon2?id='+id, '_blank');

    }

</script>
</body>
</html>