<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đóng tiền lần 2</title>
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/css/bootstrap-datepicker.css" rel="stylesheet" th:href="@{/css/bootstrap-datepicker.min.css}"/>
    <style>
        .table th {padding: 0!important;}
    </style>
</head>
<body>
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12 order-md-1">
                <form autocomplete="off" action="#" th:action="@{/add}" th:object="${searchModel}" method="post" id="Form">
                    <div class="row">
                        <div class="col-md-6">
                            <h4></h4>
                        </div>
                        <div class="col-md-6 text-right">
                            <small class="ml-0"><a href="/">Trở về Bảng theo dõi</a></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-1">
                            <label>KHÓA<small>Vd: B19-19, B1TD19-19</small></label>
                            <input class="form-control" type="text" th:field="*{lop}" name="lop"/>
                        </div>
                        <div class="col-md-6 mb-1">
                            <label>Ngày thu:</label>
                            <div class="input-group date datepicker mydatepicker" data-provide="datepicker">
                                <input type="text" class="form-control" name="ngayGioThu" th:value="*{#dates.format(ngayGioThu,'dd/MM/yyyy')}">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <label>Họ tên</label>
                            <input class="form-control" type="text" th:field="*{hoTen}" name="hoTen"/>
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" name="action" value="search" class="btn btn-primary btn-sm mr-2 mb-3">Tìm kiếm</button>
                        <button value="add" class="btn btn-secondary btn-sm mb-3" onclick="window.location.href='/add'">Reset</button>
                    </div>
                    <div class="row">
                        <h5>Bảng 1 & đóng tiền lần 2</h5>
                        <table class="table table-bordered table-striped table-hover no-footer dataTable" id="notCompleteTable">
                            <thead>
                            <tr>
                                <th class="text-center">Ph.<br/>thu</th>
                                <th class="text-center">Ngày<br/>nộp</th>
                                <th class="text-center">Họ tên</th>
                                <th class="text-center">KHÓA HỌC</th>
                                <th class="text-center">Học phí</th>
                                <th class="text-center">Đã nộp</th>
                                <th class="text-center">Còn lại</th>
                                <th class="text-center">Nộp lần 2</th>
                                <th class="text-center">Edit</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${searchlist}">
                                <td class="text-right" th:text="${item.soPhieuThu}" th:data="${item.id}">Id</td>
                                <td class="text-right" th:text="${#dates.format(item.ngayGioThu,'dd.MM.yyyy')}"></td>
                                <td th:text="${item.hoTen}">Họ tên</td>
                                <td class="text-center" th:text="${item.lop}">KHÓA HỌC</td>
                                <td class="text-right" th:text="${#numbers.formatDecimal(item.tienPhaiNop,0, 'POINT',0, 'COMMA')}"></td>
                                <td class="text-right" th:text="${#numbers.formatDecimal(item.thu,0, 'POINT',0, 'COMMA')}"></td>
                                <td class="text-right" th:text="${#numbers.formatDecimal(item.tienConLai,0, 'POINT',0, 'COMMA')}"></td>
                                <td class="text-center">
                                    <a class="text-success complete">click<span class="glyphicon glyphicon-ok" style="cursor: pointer;">&nbsp;&nbsp;</span></a>
                                </td>
                                <td class="text-center">
                                    <a class="text-warning edit">edit<span class="glyphicon glyphicon-ok" style="cursor: pointer;">&nbsp;&nbsp;</span></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal Dong tien lan 2 -->
    <div id="confirmModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="confirmTitle"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p id="confirmMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="yesConfirm">Có</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="noConfirm">Không</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Edit HoTen,Lop, NgayThu -->
    <div id="editModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" name="title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form class="form-input" id="editForm">
                        <input type="hidden" name="id"/>
                        <div class="form-group">
                            <label for="hoTen">Họ tên <span style="color: red;">*</span></label>
                            <input type="text" class="form-control" name="hoTen" id="hoTen">
                        </div>
                        <div class="form-group">
                            <label for="lop">Lớp <span style="color: red;">*</span></label>
                            <input type="text" class="form-control" name="lop" id="lop">
                        </div>
                        <div class="form-group">
                            <label for="ngayThu">Ngày thu <span style="color: red;">*</span></label>
                            <div class="input-group date datepicker mydatepicker" data-provide="datepicker">
                                <input type="text" class="form-control" name="ngayThu" id="ngayThu">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div>
                            <button type="button" class="btn btn-primary" name="btnEdit" id="btnEdit">Sửa</button>&nbsp;&nbsp;
                            <button type="reset" class="btn btn-primary" name="btnClear">Hủy</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.mask.min.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/js/common.js(t=${#dates.createNow().getTime()})}"></script>
<script type="application/javascript">
    var idNopTienLan2;

    $('input.money').mask('000.000.000.000', {reverse: true});

    /*** Edit *******************************/
    $("#notCompleteTable").on("click", "a.edit", function(event) {
        var rowData = $(this).closest('td').siblings();

        $('#editModal h4[name*=title]').html("Sửa phiếu thu số " + rowData[0].innerHTML);
        $('#editModal input[name*=id]').val(rowData[0].getAttribute('data'));
        $('#editModal input[name*=hoTen]').val(rowData[2].innerHTML);
        $('#editModal input[name*=lop]').val(rowData[3].innerHTML);
        $('#editModal input[name*=ngayThu]').val(rowData[1].innerHTML.replace(/\./g,"/"));

        $("#editModal").modal('show');
    });
    $('#btnEdit').on('click', function() {
        var dataReq = $("#editForm").serialize();
        //replace thoundsand separator
        dataReq = dataReq.replace(/(\d+)\.(?=\d{3}(\D|$))/g, "$1");

        //console.log(dataReq);
        // edit
        $.post('/edit',
            dataReq,
            function(returnData, status) {
                location.reload();
            }
        );
    });

    /*** Thu lan 2 ****************************/
    $("#notCompleteTable").on("click", "a.complete", function(event) {
        var rowData = $(this).closest('td').siblings();
        idNopTienLan2 = rowData[0].innerHTML;
        var sotien = rowData[6].innerHTML;
        var lopStr = rowData[3].innerHTML;
        var confirmStr = 'Tạo hóa đơn lần 2 của Học viên: ' + rowData[2].innerHTML
            + '<br/> Lớp: <strong> ' + lopStr
            + '</strong><br/> Số tiền : <strong>'+ sotien + "</strong> ?";

        $("#confirmTitle").html("Xác nhận đóng tiền lần 2");
        $("#confirmMessage").html(confirmStr);
        $("#confirmModal").modal('show');
    });

    $("#yesConfirm").on("click", function(e) {
        completeSecondPayment(idNopTienLan2);

        location.reload();
    });

    function completeSecondPayment(id){
        window.open('hoadon2?id='+id, '_blank');
    }

</script>
</body>
</html>