<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Bảng theo dõi</title>
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
    <link href="../static/css/bootstrap-datepicker.css" rel="stylesheet" th:href="@{/css/bootstrap-datepicker.min.css}"/>
    <style>
        .table th {padding: 0!important;}
    </style>
</head>
<body>
<div id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-6"><h4>Bảng theo dõi</h4></div>
            <div class="col-md-6 text-right">
                <small class="mr-2"><a href="/add">Đóng tiền</a></small> | <small class="ml-2"><a href="/class">DS KHÓA</a></small>
            </div>
        </div>
        <form id="class" th:action="@{/}" th:method="GET">
            <div class="form-group">
                <label>Ngày :</label>
                <div class="form-inline">
                    <div class="input-group date datepicker mydatepicker" data-provide="datepicker">
                        <input type="text" class="form-control required" name="ngay" th:value="${ngay}"/>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                    <input type="submit" name="search" th:value="Lọc" class="btn btn-success btn-sm"/>
                </div>
            </div>
        </form>
        <div class="group-tabs">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a class="nav-link active" data-toggle="tab" href="#nhatkythu2">Nhật ký thu</a></li>
                <!--<li><a class="nav-link" data-toggle="tab" href="#nhatkythu">Nhật ký thu</a></li>-->
                <li><a class="nav-link" data-toggle="tab" href="#home">Bảng 1</a></li>
                <li><a  class="nav-link" data-toggle="tab" href="#menu1">Bảng 2</a></li>
                <!--<li><a  class="nav-link" data-toggle="tab" href="#menu2">Thu 1 lần</a></li>-->
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane in active" id="nhatkythu2">
                    <!--nhat ky thu2-->
                    <table class="table table-bordered table-striped table-hover no-footer dataTable">
                        <thead>
                        <tr>
                            <th class="text-center">Stt</th>
                            <th class="text-center">Ngày<br>nộp</th>
                            <th class="text-center">Thg</th>
                            <th class="text-center">Họ tên</th>
                            <th class="text-center">KHÓA<br/>HỌC</th>
                            <th class="text-center">P.thu </th>
                            <th class="text-center">Học phí</th>
                            <th class="text-center">Nộplần1<br/>(Nộp tạm)</th>
                            <th class="text-center">Còn lại</th>
                            <th class="text-center">Nộplần2</th>
                            <th class="text-center">Nộp1lần</th>
                            <th class="text-center">Số hóa đơn</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${nhatkythu2List}">
                            <td class="text-right" th:text="${item.id}">Id</td>
                            <td class="text-right" th:text="${#dates.day(item.ngayGioThu)}"></td>
                            <td class="text-right" th:text="${#dates.month(item.ngayGioThu)}"></td>
                            <td th:text="${item.hoTen}">Họ tên</td>
                            <td class="text-center" th:text="${item.lop}">KHÓA HỌC</td>
                            <td class="text-right" th:text="${item.soPhieuThu}">Id</td>
                            <td class="text-right" th:text="${#numbers.formatDecimal(item.hocPhi,0, 'POINT',0, 'COMMA')}"></td>
                            <td class="text-right pb-0" th:classappend="${item.isThuLan2()?'text-muted':''}">
                                <label class="mb-0" th:text="${#numbers.formatDecimal(item.tienLan1,0, 'POINT',0, 'COMMA')}"></label>
                                <br/>
                                <small th:if="${item.isThuLan2()}" th:text="${#dates.format(item.ngayGioThu1,'dd.MM.yyyy')}"></small>
                            </td>
                            <td class="text-right" th:text="${#numbers.formatDecimal(item.tienConLai,0, 'POINT',0, 'COMMA')}"></td>
                            <td class="text-right" th:text="${#numbers.formatDecimal(item.tienLan2,0, 'POINT',0, 'COMMA')}"></td>
                            <td class="text-right" th:text="${#numbers.formatDecimal(item.tien1Lan,0, 'POINT',0, 'COMMA')}"></td>
                            <td class="text-right">

                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold" colspan="5">TỔNG CỘNG</td>
                            <td class="text-right" th:text="${#numbers.formatDecimal(sumTongTien,0,'POINT',0, 'COMMA' )}"></td>
                            <td></td>
                            <td class="text-right" th:text="${#numbers.formatDecimal(sumTienLan1,0,'POINT',0, 'COMMA' )}"></td>
                            <td></td>
                            <td class="text-right" th:text="${#numbers.formatDecimal(sumTienLan2,0,'POINT',0, 'COMMA' )}"></td>
                            <td class="text-right" th:text="${#numbers.formatDecimal(sumTien1Lan,0,'POINT',0, 'COMMA' )}"></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="home">
                    <!--thu tam-->
                    <table class="table table-bordered table-striped table-hover no-footer dataTable">
                        <thead>
                        <tr>
                            <th class="text-center">Stt</th>
                            <th class="text-center">Ngày<br>nộp</th>
                            <th class="text-center">Thg</th>
                            <th class="text-center">Họ tên</th>
                            <th class="text-center">KHÓA<br/>HỌC</th>
                            <th class="text-center">P.thu </th>
                            <th class="text-center">Học phí</th>
                            <th class="text-center">Tiền tạm</th>
                            <th class="text-center">Còn lại</th>
                            <th class="text-center">Thu 1 lần</th>
                            <th class="text-center">Số hóa đơn</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${bang1List}">
                            <td class="text-right" th:text="${item.id}">Id</td>
                            <td class="text-right" th:text="${#dates.day(item.ngayGioThu)}"></td>
                            <td class="text-right" th:text="${#dates.month(item.ngayGioThu)}"></td>
                            <td th:text="${item.hoTen}">Họ tên</td>
                            <td class="text-center" th:text="${item.lop}">KHÓA HỌC</td>
                            <td class="text-right" th:text="${item.soPhieuThu}">phieu_thu</td>
                            <td class="text-right" th:text="${#numbers.formatDecimal(item.hocPhi,0, 'POINT',0, 'COMMA')}"></td>
                            <td class="text-right" th:text="${#numbers.formatDecimal(item.tienLan1,0, 'POINT',0, 'COMMA')}"></td>
                            <td class="text-right" th:text="${#numbers.formatDecimal(item.tienConLai,0, 'POINT',0, 'COMMA')}"></td>
                            <td class="text-right" th:text="${#numbers.formatDecimal(item.tien1Lan,0, 'POINT',0, 'COMMA')}"></td>
                            <td class="text-right">
                                <a th:href="${'/phieuthu?id=' + item.id}" target="_blank"><i class="fa fa-file"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold" colspan="6">TỔNG CỘNG</td>
                            <td class="text-right" th:text="${#numbers.formatDecimal(#aggregates.sum(bang1List.![hocPhi?:0]),3,'POINT',0, 'COMMA' )}"></td>
                            <td class="text-right" th:text="${#numbers.formatDecimal(#aggregates.sum(bang1List.![tienLan1?:0]),3,'POINT',0, 'COMMA' )}"></td>
                            <td class="text-right" th:text="${#numbers.formatDecimal(#aggregates.sum(bang1List.![tienConLai?:0]),3,'POINT',0, 'COMMA' )}"></td>
                            <td class="text-right" th:text="${#numbers.formatDecimal(#aggregates.sum(bang1List.![tien1Lan?:0]),3,'POINT',0, 'COMMA' )}"></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="menu1">
                    <!-- Thu lan 2-->
                    <table class="table table-bordered table-striped table-hover no-footer dataTable">
                        <thead>
                        <tr>
                            <!--<th class="text-center">Stt</th>-->
                            <th class="text-center">P.thu </th>
                            <th class="text-center">Ngày<br>nộp</th>
                            <th class="text-center">Thg</th>
                            <th class="text-center">Họ tên</th>
                            <th class="text-center">KHÓA<br/>HỌC</th>
                            <th class="text-center">Học phí</th>
                            <th class="text-center">Đã lần 1</th>
                            <th class="text-center">Còn lại</th>
                            <th class="text-center">Thu lần 2</th>
                            <!--<th class="text-center">Tổng cộng</th>-->
                            <th class="text-center">Số hóa đơn</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${bang2List}">
                            <!--<td class="text-right" th:text="${item.id}">Id</td>-->
                            <td class="text-right" th:text="${item.soPhieuThu}">phieu_thu</td>
                            <td class="text-right" th:text="${#dates.day(item.phieuThu2.ngayGioThu)}"></td>
                            <td class="text-right" th:text="${#dates.month(item.phieuThu2.ngayGioThu)}"></td>
                            <td th:text="${item.hoTen}">Họ tên</td>
                            <td class="text-center" th:text="${item.lop}">KHÓA HỌC</td>
                            <td class="text-right" th:text="${#numbers.formatDecimal(item.tienPhaiNop,0, 'POINT',0, 'COMMA')}"></td>
                            <td class="text-right" th:text="${#numbers.formatDecimal(item.thu,0, 'POINT',0, 'COMMA')}"></td>
                            <td class="text-right" th:text="${#numbers.formatDecimal(item.tienConLai,0, 'POINT',0, 'COMMA')}"></td>
                            <td class="text-right" th:text="${#numbers.formatDecimal(item.phieuThu2.thu,0, 'POINT',0, 'COMMA')}"></td>
                            <!--<td class="text-right" th:text="${#numbers.formatDecimal(item.tienPhaiNop,0, 'POINT',0, 'COMMA')}"></td>-->
                            <td class="text-right">
                                <a th:href="${'/phieuthu2?id=' + item.id}" target="_blank"><i class="fa fa-file"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold" colspan="7">TỔNG CỘNG</td>
                            <td class="text-right" th:text="${#numbers.formatDecimal(#aggregates.sum(bang2List.![phieuThu2.thu]),3,'POINT',0, 'COMMA' )}"></td>
                            <td colspan="2"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--<div role="tabpanel" class="tab-pane fade" id="menu2">
                    &lt;!&ndash; Thu 1 lan&ndash;&gt;
                    <table class="table table-bordered table-striped table-hover no-footer dataTable">
                        <thead>
                        <tr>
                            <th class="text-center">Stt</th>
                            <th class="text-center">Ngày<br>nộp</th>
                            <th class="text-center">Thg</th>
                            <th class="text-center">Họ tên</th>
                            <th class="text-center">KHÓA<br/>HỌC</th>
                            <th class="text-center">P.thu </th>
                            <th class="text-center">Học phí</th>
                            <th class="text-center"></th>
                            <th class="text-center">Tiền thu</th>
                            <th class="text-center">Số hóa đơn</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${thu1lanList}">
                            <td class="text-right" th:text="${item.id}">Id</td>
                            <td class="text-right" th:text="${#dates.day(item.ngayGioThu)}"></td>
                            <td class="text-right" th:text="${#dates.month(item.ngayGioThu)}"></td>
                            <td th:text="${item.hoTen}">Họ tên</td>
                            <td class="text-center" th:text="${item.lop}">KHÓA HỌC</td>
                            <td class="text-right" th:text="${item.soPhieuThu}"></td>
                            <td class="text-right" th:text="${#numbers.formatDecimal(item.tienPhaiNop,0, 'POINT',0, 'COMMA')}"></td>
                            <td class="text-right"></td>
                            <td class="text-right" th:text="${#numbers.formatDecimal(item.thu,0, 'POINT',0, 'COMMA')}"></td>
                            <td class="text-right">
                                <a th:href="${'/phieuthu?id=' + item.id}" target="_blank"><i class="fa fa-file"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold" colspan="8">TỔNG CỘNG</td>
                            <td class="text-right" th:text="${#numbers.formatDecimal(#aggregates.sum(thu1lanList.![thu]),3,'POINT',0, 'COMMA' )}"></td>
                            <td colspan="1"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>-->
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
</body>
</html>